body{
    text-align: center;
    
    
    font-family:Arial, Helvetica, sans-serif;
}
div  {
    background-color: #C4DDFF;
}
h1{
    color: #66BFBF;
    font-size: 90px;
    margin-top:0 ;
    font-family: 'sacramento' , sans-serif;
}
